<div>
  {{#each posts}}
  <div>
    <div >
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{user.username}} on {{dateCreated}}
      </div>
    </div>
    <div >
      {{description}}
    </div>
  </div>
  {{/each}}
</div>